<!--breadcrumb-->
<!DOCTYPE html>
<html>
<head>
<title>Main Post</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet">
</head>
<body>
<!--breadcrumb-->
<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
	<div class="breadcrumb-title pe-3 "><a href="/posts" class="btn btn-secondary btn-sm bi bi-house">&nbsp; Home</a></div>
	<div class="ps-3">
	  <nav aria-label="breadcrumb">
		<ol class="breadcrumb mb-0 p-0">
		  <li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-home-alt"></i></a>
		  </li>
		  <li class="breadcrumb-item active" aria-current="page">404 Error</li>
		</ol>
	  </nav>
	</div>
	</div>
</div>
  <!--end breadcrumb-->

  <div class="error-404 d-flex align-items-center justify-content-center">
	<div class="container">
	  <div class="card py-5">
		<div class="row g-0">
		  <div class="col col-xl-5">
			<div class="card-body p-4">
			  <h1 class="display-1"><span class="text-danger">4</span><span class="text-primary">0</span><span class="text-success">4</span></h1>
			  <h2 class="font-weight-bold display-4">Lost in Space</h2>
			  <p>You have reached the edge of the universe.
				<br>The page you requested could not be found.
				<br>Dont'worry and return to the previous page.</p>
			  <div class="mt-5"> <a href="http://localhost:8080/posts" class="btn btn-primary btn-lg px-md-5 radius-30">Go Home</a>
				<a href="javascript:;" class="btn btn-outline-dark btn-lg ms-3 px-md-5 radius-30">Back</a>
			  </div>
			</div>
		  </div>
		  <div class="col-xl-7">
			<img src="assets/images/error/404-error.png" class="img-fluid" alt="">
		  </div>
		</div>
		<!--end row-->
	  </div>
	</div>
  </div>
</body>
</html>